<html>
<head><title>The Rails Blog App</title>
<style>

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
  
   width:100%;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
</style>
</head>
<body style="background-color:#dddddd;">

<center><b style="
    font-size: 60px;
">Welcome To The Ordinary Blog App</b>

<font size="+3">
<p>To Get Started click <a href="/posts">Here</a></p>
</font>


 <div id="footer" /*style="float: right;padding-top: 200px;"*/>
	<p><b>Submitted By<br/><br>Sanket Patel<br>12BIT028</p>

	
</div>
</center>
</body>

</html>